:root {
  --hover-color: #5552eb;
  --main-color: #f7f3db;
  --border-color: #c3c3c3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: var(--main-color);
}
.container {
  margin: 0 auto;
  width: 80vw;
  padding-top: 3vh;
}
.bayan__title {
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 1.5vh;
  border-bottom: 0.1vh solid var(--border-color);
}
.bayan__item {
  margin-bottom: 1.5vh;
  border-bottom: 0.1vh solid var(--border-color);
}
.bayan__input {
  width: 0;
}
.bayan__input:checked ~ div > img {
  width: 70vw;
  height: 70vw;
  transition: height 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.bayan__item__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vh;
}
.bayan__item__title__name {
  font-weight: 500;
  font-size: 1rem;
}
.bayan__item__title__opener {
  align-items: end;
  font-size: 1rem;
}
.bayan__item__img {
  text-align: center;
  margin: 1.5vh;
}
.bayan__item__img > img {
  width: 0;
  height: 0;
}
/* .bayan__item__img > img {
  width: 70vw;
  height: 70vw;
} */

@media (min-width: 820px) {
  .bayan__title {
    font-size: 2rem;
  }
  .bayan__item__title__name {
    font-size: 1.8rem;
  }
  .bayan__item__title__opener {
    font-size: 1.8rem;
  }
  .bayan__item__img > img {
    width: 40vw;
    height: 40vw;
  }
}

@media (min-width: 1920px) {
  .bayan__title {
    font-size: 2.4rem;
  }
  .bayan__item__title__name {
    font-size: 2rem;
  }
  .bayan__item__title__opener {
    font-size: 2rem;
  }
}
