:root {
  --hover-color: #2b28ef;
  --main-color: #eae8d9;
  --border-color: #c3c3c3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  border: none;
  font-family: "Times New Roman", Times, serif;
}
body {
  background-color: var(--main-color);
}
.container {
  margin: 0 auto;
  width: 70vw;
  padding-top: 3vh;
}
.bayan__title {
  font-size: 1.2rem;
  font-weight: 800;
  margin-top: 1.5vh;
  border-bottom: 0.1vh solid var(--border-color);
}
.bayan__item {
  border-bottom: 0.1vh solid var(--border-color);
}
.bayan__input {
  opacity: 0;
  width: 100%;
  height: auto;
}
.bayan__input:checked ~ label > .bayan__item__img {
  width: 100%;
  height: 100%;
  transition: height 0.4s linear;
}
.bayan__input:checked ~ label > .bayan__item__img > img {
  width: 60vw;
  height: 60vw;
  transition: height 0.4s linear;
}
.bayan__input:checked ~ label > .bayan__item__title__opener {
  transform: rotate(0);
  transition: transform 0.4s linear;
}
.bayan__item__title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1vh;
}
.bayan__item__title {
  font-weight: 600;
  font-size: 1rem;
  transition: color 0.2s linear;
}
.bayan__item__title__opener {
  font-size: 1rem;
  transform: rotate(45deg);
  transition: color 0.5s linear;
}
.bayan__item__img {
  text-align: center;
  width: 100%;
  height: 0;
  transition: height 0.2s linear;
}
.bayan__item__img > img {
  width: 60vw;
  height: 0;
  transition: height 0.2s linear;
}

@media (min-width: 820px) {
  .bayan__title {
    font-size: 2rem;
  }
  .bayan__item__title {
    font-size: 1.4rem;
  }
  .bayan__item__title__opener {
    font-size: 1.4rem;
  }
  .bayan__input:checked ~ label > .bayan__item__img {
    width: 100%;
    height: 100%;
    transition: height 0.4s linear;
  }
  .bayan__item__img > img {
    width: 20vw;
    height: 0;
    transition: height 0.2s linear;
  }
  .bayan__input:checked ~ label > .bayan__item__img > img {
    width: 20vw;
    height: 20vw;
    transition: height 0.4s linear;
  }
  .bayan__input:checked ~ label > .bayan__item__title__opener {
    transform: rotate(0);
    transition: transform 0.4s linear;
  }
}

@media (min-width: 1920px) {
  .bayan__title {
    font-size: 2.4rem;
  }
  .bayan__item__title {
    font-size: 2rem;
  }
  .bayan__item__title__opener {
    font-size: 2rem;
  }
  .bayan__input:checked ~ label > .bayan__item__img > img {
    width: 20vw;
    height: 20vw;
  }
}
@media (hover: hover) {
  .bayan__item__title__opener {
    opacity: 0;
    transition: opacity 0.3s linear;
  }
  .bayan:hover {
    cursor: pointer;
  }
  .bayan:hover > .bayan__item > label > .bayan__item__title__opener {
    opacity: 1;
    transition: opacity 0.3s linear;
  }
  .bayan > .bayan__item {
    color: var(--hover-color);
    transition: color 0.3s linear;
  }
  .bayan:hover > .bayan__item {
    color: #000000;
    transition: color 0.3s linear;
  }
  .bayan > .bayan__item > .bayan__input:active ~ label {
    color: var(--hover-color);
    transition: color 0.1s linear;
  }
  .bayan > .bayan__item > .bayan__input:checked ~ label {
    color: #000000;
    transition: color 0.1s linear;
  }
  .bayan > div > input:hover {
    cursor: pointer;
  }
  .bayan > div > label:hover {
    cursor: pointer;
  }
  .bayan__item:hover > label > .bayan__item__img {
    width: 100%;
    height: 100%;
    transition: height 0.4s linear;
  }
  .bayan__item:hover > label > .bayan__item__img > img {
    width: 20vw;
    height: 20vw;
    transition: height 0.4s linear;
  }
  .bayan__item:hover > label > .bayan__item__title__opener {
    transform: rotate(0);
    transition: transform 0.4s linear;
  }
  .bayan__item__img > img {
    width: 20vw;
    height: 0;
    transition: height 0.2s linear;
  }
}
